@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/home.css" type="text/css" rel="stylesheet"/>

<section class="hero">
  <div class="content">
    <h2>Bienvenido</h2>
    <p>Se realizó un sistema escolar donde podemos asignar la beca ya sea deportiva, cultural o ambas becas.</p>
    </div>
  <div class="waves"></div>
</section>